{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension":[
      1,{
        "extensions": ["js","jsx"]
    }],
    "jsx-equals-spacing": [2, "always"],
    "no-param-reassign": 0
  }
}